*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slide{
    flex: 1;
    background-color: black;
    position: relative;
}
.slider{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: auto;
    width: 55%;
    border-radius: 20px;
    top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     transition: all .9s ease-out;
     border: 30px solid red;
     text-align: center;
}
.header{
    padding: 2rem;
    text-align: center;
}
.selec{
    padding: .5rem;
    font-size: 20px;
}
@media screen and (max-width: 700px){
    .slider{
        width: 90%;
    }
}